.button {
  padding: 0.8rem 4rem;
  border-radius: 1.6rem;
  outline: 0.2rem solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0.2rem 1rem;
  letter-spacing: 0.3rem;
  transition: 0.2s;
}

.button:hover {
  background-color: var(--main-color);
  outline-color: var(--main-color);
  transform: scale(1.03);
}

.button:active {
  transform: none;
}
