.button {
  padding: 1.2rem 3rem;
  border-radius: 4rem;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 5%) 0 0 0.8rem;
  letter-spacing: 0.7rem;
  color: #000000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(93, 24, 220);
  color: #ffffff;
  box-shadow: rgb(93 24 220) 0 0.6rem 3rem 0;
  transform: scale(1.1);
}

.button:active {
  background-color: rgb(93, 24, 220);
  color: #ffffff;
  box-shadow: rgb(93 24 220) 0 0.2rem 1.4rem 0;
  transform: translateY(0.5rem) scale(1.1);
  transition: 0.1s;
}
