.timer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.reset_btn {
  width: 4.5rem;
  height: 4.5rem;
  transition: 0.3s;
}

.reset_btn:hover {
  transform: scale(1.2);
}

.text {
  font-size: 4rem;
}

.time {
  margin-top: -1.5rem;
  font-family: var(--main-font);
  font-size: 16rem;
  font-weight: 800;
  color: #ffffff;
}

.start_btn {
  width: 20rem;
  padding: 1.2rem 3rem;
  border-radius: 4rem;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 5%) 0 0 0.8rem;
  letter-spacing: 0.7rem;
  color: #000000;
  font-size: 4rem;
  transition: all 0.3s ease;
}

.start_btn:hover {
  background-color: var(--main-color);
  color: #ffffff;
  box-shadow: var(--main-color) 0 0.6rem 3rem 0;
  transform: scale(1.1);
}

.start_btn:active {
  box-shadow: var(--main-color) 0 0.2rem 1.4rem 0;
  transform: translateY(0.5rem) scale(1.1);
  transition: 0.1s;
}

.active_btn {
  background-color: rgb(255, 104, 122);
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0.6rem 3rem 0;
}

.active_btn:hover,
.active_btn:active {
  transform: none;
  background-color: rgb(255, 104, 122);
  box-shadow: rgba(0, 0, 0, 0.4) 0 0.6rem 3rem 0;
}
