.timer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.reset_btn {
  width: 4.5rem;
  height: 4.5rem;
  transition: 0.3s;
}

.reset_btn:hover {
  transform: scale(1.2);
}

.text {
  font-size: 4rem;
}

.time {
  margin-top: -1.5rem;
  font-family: var(--main-font);
  font-size: 16rem;
  font-weight: 800;
  color: #ffffff;
}

.start_btn {
  width: 20rem;
}

.active_btn {
  left: -0.3rem;
  background-color: rgb(255, 104, 122);
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0.6rem 3rem 0;
}

.active_btn:hover,
.active_btn:active {
  transform: none;
  background-color: rgb(255, 104, 122);
  box-shadow: rgba(0, 0, 0, 0.4) 0 0.6rem 3rem 0;
}
