.wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.textarea_wrapper {
  overflow: hidden;
  border-radius: 2rem;
}

.textarea {
  padding: 2rem;
  font-family: var(--main-font);
  font-size: 3rem;
  resize: none;
  background-color: var(--dark-transparent);
  color: #ffffff;
  border-radius: 2rem;
  scrollbar-color: var(--main-font);
  scrollbar-width: thin;
  outline: none;

  border: none;
  transition: 0.3s;
}

.textarea:focus {
  box-shadow: inset 0 0 1rem 0 var(--main-color);
}
