.nav {
  position: absolute;
  bottom: 4%;
  display: flex;
  gap: 6rem;
  margin: 0 auto;
}

.link {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 400;
}

.active {
  font-weight: 700;
  color: var(--main-color);
}

.active::before {
  content: '';
  position: absolute;
  top: 125%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--main-color);
}
