.wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.todos_list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
  height: 70%;
  width: 100%;
  padding: 2rem;
  background-color: var(--dark-transparent);
  box-shadow: inset 0 0 3rem 1rem var(--dark-transparent);
  border-radius: 2rem;
}

.todos_list::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 0 3rem 3rem 0;
}

.todos_list::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 0 3rem 3rem 0;
}

.todo_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.todo_text {
  padding-right: 4rem;
  word-break: break-all;
  animation: text_appear 0.3s;
}

.todo_wrapper::before {
  content: '';
  position: absolute;
  top: 200%;
  width: 80%;
  height: 0.1rem;
  background-color: rgb(90, 90, 90);
  animation: line_appear 0.3s;
  transform-origin: center;
}

.last_todo::before {
  content: none;
}

@keyframes text_appear {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes line_appear {
  from {
    opacity: 0.6;
    transform: scaleX(0.5);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
